<div id='container'>
  <div id='map'></div>
  <div>
    <ul id='key'>
      <li><span id="red"></span> Ruby</li>
      <li><span id="green"></span> JavaScript</li>
      <li><span id="blue"></span> Python</li>
      <li><span id="yellow"></span> Java</li>
      <li><span id="purple"></span> CSS</li>
      <li><span id="orange"></span>C++</li>
      <li><span id="brown"></span>PHP</li>
      <li><span id="indigo"></span>Shell</li>
      <li><span id="pink"></span>C</li>
      <li><span id="aqua"></span>Objective-C</li>
    </ul>
  </div>
</div>
